VUE/node_modules
.DS_Store
VUE/dist
VUE/.npmrc
VUE/.cache

VUE/tests/server/static
VUE/ests/server/static/upload

.local
# local env files
VUE/.env.local
VUE/.env.*.local
VUE/.eslintcache

# Log files
VUE/npm-debug.log*
VUE/yarn-debug.log*
VUE/yarn-error.log*
VUE/pnpm-debug.log*

# Editor directories and files
VUE/.idea
# .vscode
VUE/*.suo
VUE/*.ntvs*
VUE/*.njsproj
VUE/*.sln
VUE/*.sw?

VUE/package-lock.json
VUE/pnpm-lock.yaml

