ODesign/node_modules
.DS_Store
ODesign/dist
ODesign/.npmrc
ODesign/.cache

ODesign/tests/server/static
ODesign/ests/server/static/upload

.local
# local env files
ODesign/.env.local
ODesign/.env.*.local
ODesign/.eslintcache

# Log files
ODesign/npm-debug.log*
ODesign/yarn-debug.log*
ODesign/yarn-error.log*
ODesign/pnpm-debug.log*

# Editor directories and files
ODesign/.idea
# .vscode
ODesign/*.suo
ODesign/*.ntvs*
ODesign/*.njsproj
ODesign/*.sln
ODesign/*.sw?

ODesign/package-lock.json
ODesign/pnpm-lock.yaml

